.code-github {
  display: flex;
  justify-content: center;
  gap: 10%;
}

.teaser-img {
  float: left;
  height: 100%;
}

.github-background-img {
  background: rgba(22, 21, 28, 0.84);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  .code-github {
    display: flex;
    flex-direction: column;
    row-gap: 10%;
  }
}